/*table {
    border-collapse: collapse;
    border: 2px solid red;
    letter-spacing: 2px;
}


th, td {
    border: 1px solid blue;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-last-of-type(even) {
    background-color: brown;
}*/

img {
    border-radius: 50%;
    object-fit: cover;
    width: 500px;
    aspect-ratio: 1/1;
}

caption {
    caption-side: bottom;
}

hr {
    border-style: dotted;
}